"07_experiement_tracking/models/07_effnetb0_data_10_percent_5_epochs.pth"
"07_experiement_tracking/models/07_effnetb0_data_10_percent_10_epochs.pth"
"07_experiement_tracking/models/07_effnetb0_data_20_percent_5_epochs.pth"
"07_experiement_tracking/models/07_effnetb0_data_20_percent_10_epochs.pth"
"07_experiement_tracking/models/07_effnetb2_data_10_percent_5_epochs.pth"
"07_experiement_tracking/models/07_effnetb2_data_10_percent_10_epochs.pth"
"07_experiement_tracking/models/07_effnetb2_data_20_percent_5_epochs.pth"
"07_experiement_tracking/models/07_effnetb2_data_20_percent_10_epochs.pth"